﻿
<!DOCTYPE html>
<html>
<head>
    <title> Resultado IMC Aleatorio </title>
    <meta charset="utf-8" />
    <!--Esto es un comentario-->
    <!--en el head se coloca informacion que es para el navegador, script, css...-->
</head>
<body>
    <!--aqui inicia el cuerpo de la pagina que se esta creando (la vista)-->
    <h1> Resultados </h1>
    <div class="seccion_2" id="s2">
        <ul>
            <li>IMC menor que 18.5 -> peso insuficiente</li>
            <li>IMC 18,5 y 24,9 -> peso normal</li>
            <li>IMC mayor que 25 -> sobrepeso</li>
        </ul>
        <br>
    </div>
    <div class="seccion_3" id="s3">
        <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">Regresar al inicio</a>
    </div>

    <hr />
    <div class="seccion_1" id="s1">
        <table class="table">
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Peso</th>
                <th>Estatura</th>
                <th>IMC</th>
            </tr>

            @for (var i = 0; i < @ViewBag.personas.Length; i++)
            {
        <tr>
            <td>@ViewBag.personas[i].id</td>
            <td>@ViewBag.personas[i].Nombre</td>
            <td>@ViewBag.personas[i].Peso</td>
            <td>@ViewBag.personas[i].Estatura</td>
            @if (@ViewBag.IMCs[i] > 18.5 && @ViewBag.IMCs[i] < 24.9)
            {
                <td style="color:green;">@ViewBag.IMCs[i]</td>
            }
            else
            {
                <td style="color:red;">@ViewBag.IMCs[i]</td>
            }
        </tr>

            }
            </table>
        <hr />
    </div>

</body>
</html>